.download-button-div-image {
  position: absolute;
  opacity: 0;
}

.download-button-div {
  bottom: 16px;
  right: 16px;
  border-radius: 1000px;
  border: none;
  width: 28px;
  height: 28px;
  transition: opacity 0.2s;
  z-index: 1000;
}

.dropshadow {
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 50px 50px 100px 100px #0000008a;
  background: rgba(0, 0, 0, 0.308);
}

.download-button-div-image:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.download-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.download-button-div-hover {
  opacity: 1 !important;
}

.download-button {
  all: unset;

  transition: background-color 0.2s;
  display: block;
  border: none;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 1000px;
}

.download-icon {
  opacity: 0;
  width: 15px;
  height: 15px;
  margin: calc(50% - 7.5px);
  position: absolute;
  top: 0px;
  left: 0px;
  transition: opacity 0.2s;
}

.download-progress {
  width: 20px !important;
  height: 20px !important;
  margin: calc(50% - 10px) !important;
}

.onboarding-image {
  border: solid rgb(15, 115, 255) 0px;
  position: absolute;
  overflow: visible;
  z-index: 1000;
  border-radius: 12px;
  pointer-events: none;
  top: 0;
}

.alt-button-left {
  left: 16px !important;
  right: unset !important;
}

.toast-container {
  position: fixed;
  right: 0px;
  bottom: 0px;
  height: fit-content;
  z-index: 100;
  padding: 25px;
}

.toast {
  background-color: rgb(34, 46, 63);
  right: 25px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  border-width: 0px;
  overflow: hidden;
  position: fixed;
  opacity: 0;
  z-index: 20;
}

.toast-mobile{
    right: calc(50% - 150px);
}

.toast-border {
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  position: absolute;
  border-radius: 8px;
  margin: 0;
  pointer-events: none;
}

.toast:hover .toast-border {
  box-shadow: inset 0px 0px 0px 2px rgb(34, 58, 78);
}

.toast-body {
  display: flex;
  flex-direction: row;
  padding: 12px;
  height: 20px;
}

.toast-text {
  user-select: none;
  line-height: 18px;
  margin: auto;
  margin-left: 0;
  color: white;
  white-space: nowrap;
  position: relative;
}

.toast-text-loading {
  color: rgb(103, 103, 103) !important;
}

.toast-text-overflow {
  position: relative;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: fit-content;
  max-width: 90%;
  margin-right: auto;
}

.toast-text-overflow-gradient {
  height: 100%;
  width: 20px;
  position: absolute;
  z-index: 10;
  background-image: linear-gradient(to left, rgb(34, 46, 63), transparent);
  transition: opacity linear 0.1s;
}

.toast-action {
  all: unset;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
}

.toast-action-icon {
  fill: #6f839f;
}

.toast:hover .toast-action-icon {
  fill: #c3cdda;
}

.loading-bar {
  width: 100%;
  height: 2px;
  margin-top: -5px;
  left: 0px;
  position: relative;
  transition: filter;
  background-color: rgb(16, 185, 16);
}

.loading-bar-done {
  filter: hue-rotate(250deg) brightness(1.5) saturate(0.8);
}

div.loading-bar > svg {
  transition: opacity ease 0.5s;
  background-color: rgb(34, 46, 63);
}
