.download-button-div-image {
  position: absolute;
  opacity: 0;
}

.download-button-div {
  bottom: 16px;
  right: 16px;
  border-radius: 1000px;
  border: none;
  width: 28px;
  height: 28px;
  transition: opacity 0.2s;
}

.dropshadow {
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 50px 50px 100px 100px #0000008a;
  background: rgba(0, 0, 0, 0.308);
}

.download-button-div-image:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.download-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.download-button-div-hover {
  opacity: 1 !important;
}

.download-button {
  all: unset;

  transition: background-color 0.2s;
  display: block;
  border: none;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 1000px;
}

.download-icon {
  width: 15px;
  height: 15px;
  margin: calc(50% - 7.5px);
  position: absolute;
  top: 0px;
  left: 0px;
  transition: opacity 0.2s;
}

.download-progress {
  width: 20px !important;
  height: 20px !important;
  margin: calc(50% - 10px) !important;
}
