.dark-mode {
  --text: rgb(255, 255, 255);
  --text-suggestion: rgba(255, 255, 255, 0.497);
  --text-locked: rgb(189, 189, 189);
  --bg: rgb(21, 29, 40);
  --surface-1: rgb(34, 46, 63);
  --surface-2: rgb(49, 64, 86);

  --checkbox-bg: rgb(28, 39, 54);
  --checkbox-border: rgb(44, 58, 78);
  --checkbox-hover-bg: var(--surface-1);
  --checkbox-hover-border: rgb(57, 73, 96);

  --separator-border: var(--checkbox-border);

  --button-grey: rgb(18, 41, 73);
  --button-grey-hover: rgb(18, 52, 100);
  --button-grey-active: rgb(32, 66, 112);
  --button-grey-text: rgb(77, 151, 255);

  --button-red: rgb(244, 38, 38);
  --button-red-hover: rgb(203, 41, 41);
  --button-red-active: rgb(255, 66, 66);

  --button-blue: rgb(15, 115, 255);
  --button-blue-hover: rgb(7, 103, 238);
  --button-blue-active: rgb(29, 123, 255);

  --help-popup-dismiss-filter: ;

  background-color: var(--bg);
}

.light-mode {
  --text: rgb(0, 0, 0);
  --text-suggestion: rgb(102, 123, 153);
  --text-locked: rgb(64, 81, 104);
  --bg: rgb(255, 255, 255);
  --surface-1: rgb(239, 242, 246);
  --surface-2: rgb(206, 206, 206);

  --checkbox-bg: rgb(249, 250, 251);
  --checkbox-border: rgb(220, 226, 234);
  --checkbox-hover-bg: var(--surface-1);
  --checkbox-hover-border: rgb(192, 202, 216);

  --separator-border: var(--checkbox-border);

  --button-grey: rgb(229, 240, 255);
  --button-grey-hover: rgb(204, 225, 255);
  --button-grey-active: rgb(240, 247, 255);
  --button-grey-text: rgb(0, 89, 214);

  --button-red: rgb(244, 38, 38);
  --button-red-hover: rgb(203, 41, 41);
  --button-red-active: rgb(255, 66, 66);

  --button-blue: rgb(0, 106, 255);
  --button-blue-hover: rgb(0, 89, 214);
  --button-blue-active: rgb(35, 127, 255);

  --help-popup-dismiss-filter: brightness(40%);

  background-color: var(--bg);
}

p {
  margin: 0;
}

body {
  width: calc(max(100vw, 300px));
  max-width: 500px;
  height: fit-content;
  margin: auto;
  font-family:
    InterVariable,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji";
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  font-synthesis-weight: none;
  font-variant: no-contextual;
  letter-spacing: 0px;
  user-select: none;
  color: var(--text);
  text-align: left;
  font-weight: 400;
  overflow-x: hidden;
}

.header {
  width: calc(max(100vw, 300px));
  max-width: 500px;
  position: fixed;
  top: 0px;
  margin: 0;
  font-weight: bolder;
  padding-bottom: 0;
  z-index: 1000;
}

.header-text {
  padding-top: 10px;
  height: 46px;
  background-color: var(--bg);
  text-align: center;
  font-size: 23px;
}

.scroll-fade {
  width: 100%;
  height: 50px;
  background: linear-gradient(var(--bg), transparent);
  transition: all ease 0.12s;
}

.category {
  display: flex;
  gap: 8px;
  padding: 0px 20px;
  flex-direction: column;
}

.category-separator {
  width: 100%;
  height: 0.6667px;
  border-top: solid 1px var(--separator-border);
  margin-top: 8px;
  margin-bottom: 8px;
  transition: all ease 0.2s;
  z-index: 1000;
  position: sticky;
  top: 54px;
}

.category-separator-hidden {
  overflow: hidden;
  height: 0px;
  margin-top: -8px;
  border-color: transparent;
}

.settings {
  padding: 0px;
  padding-top: 56px;
  padding-bottom: 8px;
}

.setting {
  display: flex;
  margin: 0;
  justify-content: left;
  gap: 8px;
  padding: 4px 0px;
  align-items: center;
}

.setting-name {
  font-size: 15px;
  line-height: 17px;
  margin: 0;
}

.checkbox {
  border: solid 1px;
  height: 24px;
  width: 24px;
  border-radius: 6px;
  transition-property:
    background-color border-color color,
    background-color,
    stroke;
  transition-timing-function: cubic-bezier(0.17, 0.73, 0.14, 1);
  transition-duration: 100ms;
}

.setting-inactive .checkbox {
  background-color: var(--checkbox-bg);
  border-color: var(--checkbox-border);
}

.setting-inactive:hover .checkbox {
  background-color: var(--checkbox-hover-bg);
  border-color: var(--checkbox-hover-border);
}

.setting-active .checkbox {
  background-color: var(--button-blue);
  border-color: var(--button-blue);
}

.setting-active:hover .checkbox {
  background-color: var(--button-blue-hover);
  border-color: var(--button-blue-hover);
}

.checkbox > svg {
  transition-property: opacity;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.17, 0.73, 0.14, 1);
  transition-duration: 100ms;
}

.setting-inactive .checkbox > svg {
  opacity: 0;
}

.path-input {
  font: inherit;
  padding: 0 10px 0 10px;
  flex-shrink: 2;
  outline: none;
  background: none;
  color: var(--text);
  border: none;
  min-width: calc(100% - 20px);
  line-height: 40px;
  text-wrap: nowrap;
  position: absolute;
  top: 0px;
  left: 0px;
}

.path-input-suggestion-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
}

.path-input-hidden {
  opacity: 0;
  padding-left: 10px;
  line-height: 40px;
  text-wrap: nowrap;
}

.path-input-suggestion {
  margin: auto 0;
  color: var(--text-suggestion);
  cursor: pointer;
  padding-right: 10px;
  pointer-events: all;
}

.path-example {
  padding: 0 10px;
  margin: 0;
  text-align: left;
  width: calc(100% - 20px);
  text-wrap: auto;
  word-break: break-word;
  color: var(--text-locked);
  font-size: 12px;
  min-height: 16px;
}

.path-input-container {
  position: relative;
  background-color: var(--surface-1);
  height: 40px;
  width: inherit;
  color: var(--text);
  border: solid transparent 0;
  border-width: 2px 0px 2px 2px;
  border-radius: 10px 0 0 10px;
  transition-property: border-color;
  transition-timing-function: cubic-bezier(0.17, 0.73, 0.14, 1);
  transition-duration: 100ms;
  overflow: scroll;
}

.path-input-ext {
  margin: 0;
  width: 40px;
  height: auto;
  background-color: var(--surface-1);
  color: var(--text-locked);
  vertical-align: middle;
  line-height: 37px;
  padding: 0px 10px 0px 5px;
  border: solid transparent 0;
  border-radius: 0 10px 10px 0;
  border-width: 2px 2px 2px 0;
}

.path-input-container-container {
  display: flex;
  width: 100%;
  overflow: hidden;
  font-size: 14px;
  cursor: text;
}

.path-input-container:hover .path-input {
  border-color: var(--surface-2);
}

.path-input-desc {
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.path-undo-button {
  all: unset;
  height: 30px;
  width: 30px;
  border-radius: 10000px;
  background-color: var(--button-grey);
  background-image: url(../icons/undo.svg);
  color: var(--text);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 7.5px 6px;
  opacity: 0;
  pointer-events: none;
  transition: opacity ease 100ms;
}

.path-undo-button-active {
  opacity: 1 !important;
  pointer-events: all;
  cursor: pointer !important;
}

.path-undo-button:hover {
  background-color: var(--button-grey-hover);
}

.path-undo-button:active {
  background-color: var(--button-grey-active);
}

.path-setting {
  flex-direction: column;
  gap: 4px !important;
}

.path-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  gap: 5px;
  margin-top: 2px;
  text-align: center;
  z-index: 10;
  cursor: pointer;
  transition: background-color ease 50ms;
  color: white;
}

.path-input-action {
  border-radius: 10px;
  display: block;
  width: 100%;
  height: 30px;
  border-radius: 10px;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.17, 0.73, 0.14, 1);
  transition-duration: 100ms;
  position: relative;
}

.path-input-action-label {
  position: relative;
  margin: 0;
  text-align: center;
  height: 100%;
  line-height: 28px;
  height: 30px;
  width: 100%;
  background-color: inherit;
  border-radius: 10px;
  transition: inherit;
}

.path-input-help {
  background-color: var(--button-grey);
  border-color: var(--button-grey);
  color: var(--button-grey-text);
}

.path-input-help:hover {
  background-color: var(--button-grey-hover);
}

.path-input-help:active {
  background-color: var(--button-grey-active);
}

.path-input-reset {
  background-color: var(--button-red);
}

.path-input-reset:hover {
  background-color: var(--button-red-hover);
}

.path-input-reset:active {
  background-color: var(--button-red-active);
}

.path-input-vars {
  background-color: var(--button-blue) !important;
}

.path-input-vars:hover {
  background-color: var(--button-blue-hover) !important;
}

.path-input-vars:active {
  background-color: var(--button-blue-active) !important;
}

.path-input-vars-container {
  flex-direction: column !important;
  gap: 0 !important;
  border-radius: 10px;
}

.path-input-vars-menu {
  display: flex;
  flex-direction: row;
  height: 0px;
  border-radius: 10px;
  width: calc(100% - 2px);
  overflow: hidden;
  transition: height ease 0.2s;
  cursor: auto;
}

.path-input-vars-menu-opened {
  height: 200px;
}

.path-input-menu-var-list {
  overflow-y: scroll;
  width: fit-content;
  padding: 0 5px;
  margin: 5px;
  margin-left: 0;
  background-color: var(--surface-1);
  border-radius: 7px;
  scrollbar-width: none;
}

.path-input-menu-right-panel {
  flex-grow: 1;
  height: auto;
  display: flex;
  margin: 5px 0;
  margin-left: 0;
  flex-direction: column;
  flex-shrink: 100000;
}

.path-input-menu-var-desc {
  background-color: var(--surface-1);
  border-radius: 7px;
  flex-grow: 1;
  height: auto;
  margin-left: 0;
  width: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}

.path-input-menu-var-desc-text {
  color: var(--text);
  margin: 0;
  text-align: start;
  padding: 5px;
  text-wrap: wrap;
}

.path-var {
  margin: 5px 0;
  padding: 0 5px 2px 5px;
  background-color: transparent;
  color: var(--text);
  border-radius: 5px;
  text-align: left;
  cursor: pointer;
}

.path-var:hover {
  background-color: var(--button-grey-hover);
}

.path-var-active {
  background-color: var(--button-blue);
  color: white;
}

.path-var-active:hover {
  background-color: var(--button-blue-hover);
}

.path-var-active:active {
  background-color: var(--button-blue-active);
}

.path-input-menu-var-insert {
  transition: background-color ease 50ms;
  overflow: hidden;
  height: 25px;
  line-height: 23px;
  border-radius: 7px;
  margin-top: 5px;
  margin-bottom: 0;
  background-color: var(--button-blue);
  cursor: pointer;
  transition: ease 200ms;
  transition-property: all;
}

.path-input-menu-var-insert:hover {
  background-color: var(--button-blue-hover);
}

.path-input-menu-var-insert:active {
  background-color: var(--button-blue-active);
}

.path-input-menu-var-insert-locked {
  height: 0px !important;
  margin: 0 !important;
  opacity: 0;
  line-height: 0px;
}

.help-popup-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000a8;
  z-index: 100;
  opacity: 0;
  transition-timing-function: cubic-bezier(0.17, 0.73, 0.14, 1);
  transition-duration: 100ms;
  transition-property: opacity;
  pointer-events: none;
}

.help-popup-div-active {
  opacity: 1;
  pointer-events: all;
}

.help-popup {
  position: absolute;
  width: calc(100% - 80px);
  max-width: 400px;
  overflow: hidden;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  background-color: var(--bg);
  border-radius: 10px;
  padding: 12px 20px;
  user-select: text;
}

.help-popup-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
}

.help-popup-title {
  font-weight: 600;
  font-size: large;
}

.help-popup-dismiss {
  all: unset;
  width: 20px;
  height: 20px;
  opacity: 1;
  border-radius: 10000px;
  background-color: transparent;
  transition: background-color ease 100ms;
  transform: translateX(8px);
  cursor: pointer;
  user-select: none;
  margin: auto 0;
}

.help-popup-dismiss:hover {
  background-color: var(--button-grey-hover);
}

.help-popup-dismiss:active {
  background-color: var(--button-grey-active);
}

.help-popup-dismiss-icon {
  filter: var(--help-popup-dismiss-filter);
  width: 60%;
  height: 60%;
  padding: 20%;
}

.help-popup-text {
  max-height: 60%;
  overflow: scroll;
}

.slider-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.slider-subtext {
  width: fit-content;
}

.slider {
  display: flex;
  flex-direction: column;
  --slider-height: 5px;
  transition: all ease 0.2s;
}

.slider-hidden {
  margin-top: -70px;
}

.slider-body {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.slider-container {
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
}

.slider-input {
  position: absolute;
  width: calc(100% + 20px);
  height: 100%;
  left: -10px;
  margin: auto;
  opacity: 0;
}

.slider-bg {
  user-select: none;
  pointer-events: none;
  position: absolute;
  top: calc(50% - (var(--slider-height) / 2));
  left: 0px;
  width: 100%;
  height: var(--slider-height);
  background-color: var(--surface-2);
  border-radius: 10000px;
}

.slider-active-bar {
  user-select: none;
  pointer-events: none;
  position: absolute;
  top: calc(50% - (var(--slider-height) / 2));
  left: 0px;
  height: var(--slider-height);
  background-color: var(--button-blue);
  border-radius: 10000px;
  transition: all ease 0.1s;
}

.slider-knob {
  user-select: none;
  pointer-events: none;
  --knob-inner: 8px;
  --knob-outer: 12px;
  position: absolute;
  top: 0px;
  transform: translate(
    calc(var(--knob-outer) / (-2)),
    calc(15px - var(--knob-outer) + (var(--knob-outer) / 2))
  );
  height: var(--knob-inner);
  width: var(--knob-inner);
  background-color: var(--text);
  border-radius: 10000px;
  border: solid var(--button-blue);
  border-width: calc((var(--knob-outer) - var(--knob-inner)) / 2);
  transition: all ease 0.1s;
}

.slider-body:hover .slider-knob {
  --knob-inner: 12px;
  --knob-outer: 20px;
}

.slider-knob-active {
  --knob-inner: 12px;
  --knob-outer: 20px;
}

.slider-input-text {
  width: 40px;
  text-align: center;
  position: relative;
  background-color: var(--surface-1);
  color: var(--text);
  border: none;
  border-radius: 10px;
  overflow: scroll;
}

.popup-val-container {
  --border-size-slider-popup: 1px;
  position: absolute;
  width: 60px;
  height: 70px;
  transform: scale(0.8);
  left: calc(-30px + (var(--knob-inner) / 2));
  top: calc(-70px + (var(--knob-inner) / 2));
  transition: all ease 0.12s;
  opacity: 0;
}

.popup-val-container-active {
  opacity: 1;
  top: calc(-90px + (var(--knob-inner) / 2));
  transform: scale(1);
}

.popup-val {
  width: calc(100% - var(--border-size-slider-popup) * 2);
  height: calc(50px - var(--border-size-slider-popup) * 2);
  position: relative;
  border: solid var(--button-blue) var(--border-size-slider-popup);
  border-radius: 8px;
  background-color: var(--surface-1);
}

.popup-val-text {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  line-height: 47px;
  text-align: center;
}

.popup-val-triangle {
  z-index: 10;
  width: 100%;
  height: 30px;
  margin: 0;
  margin-top: calc(-1 * var(--border-size-slider-popup) + 0px);
  position: relative;
}

.popup-triangle-svg {
  position: absolute;
  top: 0px;
  left: 15px;
  height: 20px;
  width: 30px;
}

.triangle-path {
  fill: var(--surface-1);
  fill-rule: evenodd;
  stroke: var(--button-blue);
  stroke-width: var(--border-size-slider-popup);
}
